<section id="tables">
  <div class="page-header">
  	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/13173095-calendar-vector-icon.jpg">
<h1>All events</h1>
 </div>
<table class="table table-bordered table-striped table-hover">
   <thead>
  <tr>
    <th>Title</th>
    <th>Starts on</th>
    <th>Ends on</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
    <tbody>
<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.starts_at.strftime("%A, %B %d at %I:%M %p") %></td>
    <td><%= event.ends_at.strftime("%A, %B %d at %I:%M %p") %></td>
    <td><%= event.description %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</section>




<br />
<td><a class="btn btn-primary" <%= link_to 'View Calendar', calendar_index_path %></a></td>
<br/>
<br>
<td><a class="btn btn-primary" <%= link_to 'New Event', new_event_path %></a></td>
