<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
  <title>Calendar</title>  
  <%= stylesheet_link_tag "fullcalendar.css" %>
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.rest.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <!-- these are needed for the calendar. -->
  <%= javascript_include_tag "fullcalendar.js" %>
  
   <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tag %>  
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  
  
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" >Calendar</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class= "nav">
      <li></li>
      <li><%= link_to 'New Event', new_event_path %></li>
      <li><%= link_to 'All Events', events_path %></li>
       <li><%= link_to 'Back to Calendar', calendar_index_path %></li>
       </ul>
       
       <ul class="nav pull-right" id="main-menu-right">
         <td><a class="btn btn-danger" href="#">Sign Out</a></td>
        </ul>
      </div>
     </div>
  </div>
</div>
<%= yield %>


</body>
</html>